//==========================================================================
// AXI4 Master Sequencer
//==========================================================================
class axi4_master_sequencer extends uvm_sequencer #(axi4_seq_item);

  `uvm_component_utils(axi4_master_sequencer)

  function new(string name = "axi4_master_sequencer", uvm_component parent = null);
    super.new(name, parent);
  endfunction

endclass
